:root {
    --color-1: #FFFFFF;
    --color-2: #946FE5;
    --color-3: #849DDB;
    --color-4: #D444E0;
    --color-5: #1C8BC8;
    --color-6: darkslateblue;
    
    --shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

    --xxs: 5px;
    --xs: 10px;
    --small: 20px;
    --medium: 50px;
}

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#858AF2, #9a62a3);
    width: 100%;
    min-height: 100vh;
    padding: var(--xs);
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: var(--medium);
    background-color: var(--color-1);
    border-radius: var(--small);
    box-shadow: var(--shadow);
}

h1 {
    text-align: center;
    color: rgb(212, 206, 206, 0.7);
    margin-top: var(--medium);
}

form,
.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--small);
}

input[type="text"],
input[type="date"],
select,
#reminderdiv {
    flex: 1;
    padding: var(--small);
    margin-right: var(--xs);
    border-radius: var(--small);
    font-family: Arial, Helvetica, sans-serif;
}

input[type="text"]:hover {
    box-shadow: var(--shadow);
    transition: box-shadow 0.3s ease-out;
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid var(--color-6);
}

input[type="date"],
#priorityFilter,
#priorityInput,
#reminderdiv {
    color: var(--color-6);
}

input[type="date"],
#priorityFilter,
#priorityInput:focus {
    outline: none;
}

button[type="submit"] {
    padding: var(--small);
    margin: var(--xxs);
    background-color: var(--color-2);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: var(--small);
    cursor: pointer;
}

button[type="submit"]:hover {
    box-shadow: var(--shadow);
    transition: box-shadow 0.3s ease-out;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: var(--xs);
    border-radius: var(--small);
    margin-bottom: var(--xs);
    background-color: rgb(132, 157, 219, 0.5);
    border: none;
}

#dueDateInput,
#priorityInput,
#dueDateFilter,
#priorityFilter,
#reminderdiv {
    border: none;
    border: 2px solid;
    border-color: var(--color-6);
    text-align: center;
}

.output, .filtering {
    display: flex;
}


.filter-div {
    margin-top: var(--small);
    color: var(--color-6);
}

.task_description {
    padding-bottom: var(--xs);
    color: var(--color-6);
}

#cat,
#due,
#pri,
.tsk_cont {
    margin: var(--xs);
}

.btns {
    margin-left: var(--medium);
}

.edit-btn {
    background-color: var(--color-2);
    padding: var(--xs);
    border-radius: 15px;
}

.edit-btn:hover {
    box-shadow: var(--shadow);
    transition: box-shadow 0.3s ease-out;
}

.delete-btn {
    background-color: var(--color-4);
    padding: var(--xs);
    border-radius: 15px;
}

.delete-btn:hover {
    box-shadow: var(--shadow);
    transition: box-shadow 0.3s ease-out;
}

.task,
.search,
.list,
.category {
    background-color: rgb(132, 157, 219, 0.5);
    border: none;
}



/* notification */
.toast {
    background-color:var(--color-2);
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: var(--xs);
    position: fixed;
    bottom: var(--small);
    right: var(--small);
    box-shadow: var(--shadow);
}

label {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="checkbox"] {
    margin-left: var(--xs);
    transform: scale(1.5);
}

input[type="checkbox"]:checked {
    accent-color: var(--color-2);
}





/* Mobile responsiveness */

@media only screen and (max-width: 600px) {
    .container {
        margin: var(--small);
    }

    form,
    .filters {
        flex-direction: column;
    }

    input[type="text"],
    input[type="date"],
    select {
        margin-bottom: var(--xs);
    }

    .filter-div {
        font-size: small;
        display: flex;
        flex-direction: column;
    }

    button[type="submit"] {
        margin: var(--small);
    }

    .btns {
        display: flex;
        flex-direction: column;
        margin-top: var(--xs);
    }

    .task_description {
        display: flex;
        margin-bottom: var(--medium);
    }

    .tsk_cont {
        font-size: small;
    }

    .edit-btn,
    .delete-btn {
        margin: var(--xxs);
    }

}